/* General resets */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body * {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #5FBCEA;
}

a:active,
a:focus,
a:hover {
    color: #156A9C;
}

/* Layout and visibility */
.hidden {
    display: none !important;
}

.hr-logo,
.menu-box p,
header {
    position: relative;
}

/* Accessibility for SVG images in IE9 */
.ie9 img[src*=".svg"] {
    width: 100%;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    img[src*=".svg"] {
        width: 100%;
    }
}

/* Styling for headers */
header h1,
header h3,
header p {
    color: #FFF;
}

header h1 {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 100%;
}

/* Grey background styles */
.grey-bg {
    background-color: #333;
}

.grey-bg blockquote,
.grey-bg h1,
.grey-bg h2,
.grey-bg h3,
.grey-bg h4,
.grey-bg h5,
.grey-bg h6,
.grey-bg li,
.grey-bg p,
.grey-bg ul,
section a.button,
section a.button:active,
section a.button:focus,
section a.button:hover {
    color: #FFF;
}

/* Links and buttons */
.grey-bg cite {
    color: #ABABAB;
}

/* Borders */
.border-grey-radius {
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Sidebars and columns */
.sidebar {
    background-color: #FAFAFA;
    padding: 0 0 32px;
}

.sidebar [class*=block-grid-] {
    margin-left: 1.1rem;
}

/* Capitalize text */
.text-capitalize {
    text-transform: capitalize;
}

/* Fixed size elements */
.fixed-size-100 {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
}

/* Button and link styles for various sections */
.page-base a,
.page-school a,
.page-learning a,
.page-parent a,
.page-misc a {
    color: #A3CD42;
}

.page-base a:active,
.page-school a:active,
.page-learning a:active,
.page-parent a:active,
.page-misc a:active {
    color: #728F2E;
}

.page-school .side-nav li a:not(.button):active,
.page-learning .side-nav li a:not(.button):active,
.page-parent .side-nav li a:not(.button):active,
.page-misc .side-nav li a:not(.button):active {
    color: #728F2E;
}

/* Notification bar styling */
section.page-notification {
    background-color: #a3cd41;
    text-align: center;
}

section.page-notification p {
    margin: 0;
    padding: 2px;
}

/* Backgrounds */
.white-bg {
    background-color: #fff;
    border-radius: 0 0 50% 50%;
}

.header-base,
.header-school {
    background-color: #A3CD42;
}

.header-learning {
    background-color: #F58220;
}

.header-parent {
    background-color: #5FBCEA;
}

.header-misc {
    background-color: #EE3A80;
}

/* Hero section */
#homepage-hero {
    background: url() center center no-repeat fixed #5FBCEA;
    background-size: cover;
    padding: 30px 20px;
}

#homepage-hero h1 {
    font-weight: 700;
    text-shadow: 2px 2px 5px #000;
}

#homepage-hero h3 {
    text-shadow: 2px 2px 2px #000;
}

/* Twitter Widget */
#twitter-widget-0 {
    height: 450px !important;
}

/* Table styles */
.gridtable tr,
.gridtable td,
.gridtable th {
    border: 1px solid black;
}

/* Team member container */
.team-member-container .team-member {
    border-radius: 50%;
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}

.team-member-container p {
    margin-top: 5px;
}
