@ -1,225 +1,645 @@
.hidden {
    display: none !important;








}
.hr-logo, .menu-box p, header {
    position: relative;
}
.ie9 img[src*=".svg"] {
    width: 100%}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
    img[src*=".svg"] {
    width: 100%}
}html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body * {
    font-family: 'Open Sans', sans-serif;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
a {
    color: #5FBCEA;
}
a:active, a:focus, a:hover {
    color: #156A9C;
}
.grey-bg blockquote, .grey-bg h1, .grey-bg h2, .grey-bg h3, .grey-bg h4, .grey-bg h5, .grey-bg h6, .grey-bg li, .grey-bg p, .grey-bg ul, section a.button, section a.button:active, section a.button:focus, section a.button:hover {
    color: #FFF;
}
#past-trips ul.accordion{
  margin: 0;
}
.accordion p, .accordion h4, .accordion h3{
  color: #222;
}
.brandfont {
    font-family: Muli, 'Open Sans', sans-serif;
}
.border-grey-radius {
    border: 1px solid #ccc;
    border-radius: 5px;
}
section .row p a {
    text-decoration: underline;
}
section.page-notification{
  background-color: #a3cd41;
  text-align: center;
}

section.page-notification p{
  margin: 0;
  padding: 2px;
}
.grey-bg {
    background-color: #333;
}
.grey-bg cite {
    color: #ABABAB;
}
.hr-logo {
    background-image:url(/images/sapling.png);
    background-image: url(/images/sapling.svg);
    border-radius: 50%;
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: 54% 59%;
    background-size: 70%;
    top: -45px;
}
.white-bg {
    background-color: #fff;
    border-radius: 0 0 50% 50%}
.border-radius-5, .columns>img, .menu-box img {
    border-radius: 5px;
}
.sidebar {
    background-color: #FAFAFA;
    padding: 0 0 32px;




}
.sidebar [class*=block-grid-] {
    margin-left: 1.1rem;





}
.text-capitalize {
    text-transform: capitalize;





}
.fixed-size-100 {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
}
.brand {


    height: auto;
    width: 40px!important;
    vertical-align: middle;
    display: inline-block;
}
.top-bar-section .dropdown-school li:not(.has-form):not(.active)>a:not(.button):hover, .top-bar-section li:not(.has-form) a.top-nav-school:not(.button):hover {
    background: #A3CD42;
    color: #000;
    -webkit-transition: background .1s ease-in-out, color .1s ease-in-out;
    -o-transition: background .1s ease-in-out, color .1s ease-in-out;
    transition: background .1s ease-in-out, color .1s ease-in-out;
}
.top-bar-section .dropdown-learning li:not(.has-form):not(.active)>a:not(.button):hover, .top-bar-section li:not(.has-form) a.top-nav-learning:not(.button):hover {
    background: #F58220;
    color: #000;
    -webkit-transition: background .1s ease-in-out, color .1s ease-in-out;
    -o-transition: background .1s ease-in-out, color .1s ease-in-out;
    transition: background .1s ease-in-out, color .1s ease-in-out;
}
.top-bar-section .dropdown-parent li:not(.has-form):not(.active)>a:not(.button):hover, .top-bar-section li:not(.has-form) a.top-nav-parent:not(.button):hover {
    background: #5FBCEA;
    color: #000;
    -webkit-transition: background .1s ease-in-out, color .1s ease-in-out;
    -o-transition: background .1s ease-in-out, color .1s ease-in-out;
    transition: background .1s ease-in-out, color .1s ease-in-out;
}
.top-bar-section .dropdown-misc li:not(.has-form):not(.active)>a:not(.button):hover, .top-bar-section li:not(.has-form) a.top-nav-misc:not(.button):hover {
    background: #EE3A80;
    color: #000;
    -webkit-transition: background .1s ease-in-out, color .1s ease-in-out;
    -o-transition: background .1s ease-in-out, color .1s ease-in-out;
    transition: background .1s ease-in-out, color .1s ease-in-out;
}
.header-base, .header-school {
    background-color: #A3CD42;
}
.top-bar .name h1 a {
    padding: 0 4px;
}
header {
    text-align: left;
    padding: 22px 0;
}
header h1 {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 100%}
header h1, header h3, header p {
    color: #FFF;
}
.page-base .side-nav li a:not(.button), .page-base a, .page-base footer a:active, .page-base footer a:focus, .page-base footer a:hover {
    color: #A3CD42;
}
.page-base footer a {
    color: #CCC;
}
.page-base .side-nav li a:not(.button):active, .page-base .side-nav li a:not(.button):focus, .page-base .side-nav li a:not(.button):hover, .page-base a:active, .page-base a:focus, .page-base a:hover {
    color: #728F2E;
}
.page-school .side-nav li a:not(.button), .page-school a, .page-school footer a:active, .page-school footer a:focus, .page-school footer a:hover {
    color: #A3CD42;
}
.page-school footer a {
    color: #CCC;
}
.page-school .side-nav li a:not(.button):active, .page-school .side-nav li a:not(.button):focus, .page-school .side-nav li a:not(.button):hover, .page-school a:active, .page-school a:focus, .page-school a:hover {
    color: #728F2E;
}
.header-learning {
    background-color: #F58220;
}
.page-learning .side-nav li a:not(.button), .page-learning a, .page-learning footer a:active, .page-learning footer a:focus, .page-learning footer a:hover {
    color: #F58220;
}
.page-learning footer a {
    color: #CCC;
}
.page-learning .side-nav li a:not(.button):active, .page-learning .side-nav li a:not(.button):focus, .page-learning .side-nav li a:not(.button):hover, .page-learning a:active, .page-learning a:focus, .page-learning a:hover {
    color: #F5C700;
}
.header-parent {
    background-color: #5FBCEA;
}
.page-parent .side-nav li a:not(.button), .page-parent a, .page-parent footer a:active, .page-parent footer a:focus, .page-parent footer a:hover {
    color: #00A5FF;
}
.page-parent footer a {
    color: #CCC;
}
.page-parent .side-nav li a:not(.button):active, .page-parent .side-nav li a:not(.button):focus, .page-parent .side-nav li a:not(.button):hover, .page-parent a:active, .page-parent a:focus, .page-parent a:hover {
    color: #58C5F7;
}
.header-misc {
    background-color: #EE3A80;
}
.page-misc .side-nav li a:not(.button), .page-misc a, .page-misc footer a:active, .page-misc footer a:focus, .page-misc footer a:hover {
    color: #EE3A80;
}
.page-misc footer a {
    color: #CCC;
}
.page-misc .side-nav li a:not(.button):active, .page-misc .side-nav li a:not(.button):focus, .page-misc .side-nav li a:not(.button):hover, .page-misc a:active, .page-misc a:focus, .page-misc a:hover {
    color: #D776BD;
}
#homepage-hero {
    background: url() center center no-repeat fixed #5FBCEA;
    background-size: cover;
    padding: 30px 20px;
}
#homepage-hero h1 {
    font-weight: 700;
    text-shadow: 2px 2px 5px #000;
}
#homepage-hero h3 {
    text-shadow: 2px 2px 2px #000;
}
#homepage-hero .bounce-arrow-container {
    max-height: 10px;
}
#homepage-hero .fa-angle-down {
    position: relative;
    font-size: 4em;
    color: #FFF;
    text-shadow: 0 0 5px rgba(0, 0, 0, .37);
    top: -15px;
}
#twitter-widget-0 {
  height: 450px !important;
}
.gridtable tr,
.gridtable td,
.gridtable th {
  border: 1px solid black;
}
.policies_list .policy-container {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #474747;
  background-color: #474747;
}
.policy-container p {
  margin: 0;


}
.policy-container small {
  color: #474747;



}
.policies_list a:hover .policy-container,
.policies_list a:focus .policy-container{
  background-color: #A3CD42;
  color: black;

}
.menu-box img {
    width: 300px;

}
.menu-box p {
    color: inherit;
    font-size: 1em;
    padding-left: 5px;
    overflow: hidden;
    display: block;
}
.team-member-container {
    margin-bottom: 30px;




    padding: 0;
}
.team-member-container .team-member {
    border-radius: 50%;
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}
.team-member-container p {
    margin-bottom: 0;
    margin-top: 5px;
}
.team-member-container p.subheader {
    margin-top: -5px;




    margin-bottom: 20px;
    font-size: .9em;
}
.team-member-container .team-member:active, .team-member-container .team-member:focus, .team-member-container .team-member:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    transition: -webkit-transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}
.timeline-circle {
    border-radius: 50%;
    background-color: #CCC;
    height: 150px;
    width: 150px;
    margin: 20px 0;
}
.timeline-circle .circle-text-middle {
    padding: 38px 0;
    margin: 0;
    text-align: center!important;
}
.compact-grouped-list, .compact-grouped-list .side-nav li a:not(.button), .compact-grouped-list [class*=block-grid-]>li {
    padding: 0;
}
.compact-grouped-list .side-nav {
    padding: 0 0 10px;
}
.event-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}
.event-container .feature-event {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}
.event-container .feature-event::before {
  content: "Feature!";
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  left: -10px;
  top: -10px;
  -webkit-transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
      transform: rotate(-7deg);
  background-color: #e21364;
  border: 2px outset #EE3A80;
  border-radius: 100%;
}
.event-container .sticky-event {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.event-container .sticky-event::before {
  content: "Sticky";
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  left: -10px;
  top: -10px;
  -webkit-transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
      transform: rotate(-7deg);
  background-color: #32a9e4;
  border: 2px outset #5FBCEA;
  border-radius: 100%;
}
.event-container .event-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 10px);
          flex: 0 1 calc(50% - 10px);
  position: relative;
  min-width: 270px;
  max-width: calc(50% - 10px);
  margin: 5px;
  padding: 10px;
  border: 3px solid #A3CD42;
}
.event-container .event-wrap .date-wrap {
  background-color: #A3CD42;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 0 0 3px;
  text-align: right;
}
.event-container .event-wrap .date-wrap .event-date {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}
.event-container .event-wrap .date-wrap .event-time {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  color: #FFFFFF;
}
.event-container .event-wrap .event-title {
  padding: 0;
  margin-bottom: 2px;
  margin-top: 40px;
  font-size: 1.8em;
}
.event-container .event-wrap .event-subheader {
  margin-top: 0;
  color: #789a29;
}
.event-container .event-wrap .event-description {
  overflow: auto;
  height: 140px;
}
.event-container .event-wrap .link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.event-container .event-wrap .bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #666666;
  color: #666666;
  margin-top: 10px;
  padding: 10px 0 5px 0;
}
.event-container .event-wrap .bottom-wrap a {
  text-decoration: none;
  color: #666666;
}
.event-container .event-wrap .bottom-wrap .location-wrap::before {
  padding-right: 4px;
  font-family: FontAwesome;
  content: "\f041";
}
.event-container .event-wrap .bottom-wrap .cost-wrap::before {
  padding-right: 4px;
  font-family: FontAwesome;
  content: "\f154";
}
#site-footer {
    background-color: #333;
    padding: 40px 0 10px;
}
#site-footer .footer-awards {
    text-align: center;
    color: rgb(204, 204, 204);
    margin-bottom: 40px;
}
#site-footer .footer-awards p{
    margin: 0;
    padding: 0;

}
#site-footer .footer-awards .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
#site-footer .footer-awards .flex-center {
  justify-content: center;
}

#site-footer .flex-wrapper a{
    margin: 5px;



}
#site-footer .flex-wrapper img{
    opacity: 0.8;

}
#site-footer .flex-wrapper img.footer-award-sqa {
    width: 70px;

}
#site-footer .flex-wrapper img.footer-award-rec{
    width: 103px;




}
#site-footer .footer-social {
    float: right;
    margin-bottom: 8px;
    width: 266px;
}
#site-footer ul.footer-social li {
    list-style: none;
    font-size: 1em;
    overflow: hidden;
}
#site-footer .footer-social li a {
    text-align: left;
    padding: 3px 0;






}
#site-footer .footer-social li a i {
    margin-right: 10px;
    font-size: 2em;
    padding: 2px;
}
#site-footer .footer-social .fa {
    display: inline;

}
#site-footer ul.footer-address {
    margin: 0;
    padding-bottom: 0;

}
#site-footer ul.footer-address li {
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: .75em;
    color: #AAA;
    padding: 3px 6px;
}
#site-footer ul.footer-address li a {
    color: #AAA;






}
#site-footer ul.footer-address li a i, #site-footer ul.footer-address li i {
    width: 20px;
    text-align: center;
}
#site-footer p.copyright {
    margin: 10px 0 0;
    color: #666;
    text-align: center;























}
@media only screen and (max-width:40em) {
  .event-container .event-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 100%;
  }
  footer#site-footer {
    text-align: center;
  }
  footer#site-footer ul.footer-social {
    float: none;
    margin: 0 0 20px;
    text-align: center;
    height: 44px;
    display: inline-block;
    width: 290px;
  }
  footer#site-footer [class*=block-grid-]>li {
    padding: 0 .4rem 1.25rem;
  }
  footer#site-footer .footer-social li a i {
    margin-right: 2px;
    margin-left: 2px;
  }
  footer#site-footer ul.footer-address .fa {
    display: none!important;
  }
  footer#site-footer p.copyright {
    margin: 40px 0 0;
  }
}