/* Main Stylesheet */
html{
    background-image: linear-gradient(#66e0ff, #75aaff);
    background-repeat: no-repeat;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.main-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: hsla(0,0%,4%,.45);
    border-radius: 0 0 5px 5px;
}

/* Header */
.main-header{
    display: flex;
    color: white;
    /* middle alignment */
    align-items: center;
}
.main-title{
    font-size: 2.8em;
}
.main-title small{
    color:rgb(238, 238, 238);
}
.brand-logo{
    width: 120px;
    margin: 10px;
}

/* Footer */
.footer{
    margin-top: 40px;
    text-align: center;
    color: white;
}
.home-link{
    text-decoration: none;
    color: rgb(240, 240, 240);
}
.home-link:hover{
    color: rgb(8, 155, 64);
    transition: color 200ms;
}

/* Content Wrapper */
.subject-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.subject-list > a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
.subject-list > a:hover{
    background-color: #111111;
    transition: background-color 200ms;
    border-radius: 5px;
}

/* Introduction Video */
.introduction{
    text-align: center;
    margin: 40px 0;
}
.introduction-button{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 60px;
    background-color: rgb(11, 180, 76);
    color: white;
    font-size: 1.2em;
    font-weight: bold;  
}
.introduction-button:hover{
    background-color: rgb(21, 218, 96);
    transition: background-color 200ms;
}

/* Subject Items */
.subject-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    /* center alignment */
    align-items: center;
}
.subject-title{
    margin: 8px 0;
    font-size: 1.1em;
    font-weight: bold;
}
.subject-thumbnail{
    width: 220px;
    border-radius: 5px;
}
.subject-title{
    text-decoration: none;
}


/* Modal */
.modal-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 4;
    overflow-y: scroll;
    background-color: hsla(0,0%,4%,.45);
}
.modal{
    position: relative;
}
.modal-overlay:target{
    display: block;
}
.modal-content{
    max-width: 1200px;
    position: relative;
    margin: 10px auto;
    padding: 10px 20px;
    background: #474747;
    color: white;
    display: flex;
    flex-direction: column;
}
.modal-close{
    background:lightgray;
    color:#474747;
    line-height: 32px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 32px;
    text-decoration: none;
}
.modal-close:hover{
    background: darkgray;
}